# Ambientes virtuais
.venv/
venv/
env/

# Cache do Python
__pycache__/
*.pyc

# Arquivos do Jupyter
.ipynb_checkpoints/

# Configurações do VS Code
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos temporários
*.log

#Dados processados
data/02_processed/*
!data/02_processed/.gitkeep